@import "../helpers/mixins";
@import "../helpers/variables";

.app__ms__containaer {
	position: relative;
	width: 100%;
}

.app__headers {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;

	// @include dekstop {
	// 	width: 100%;
	// 	position: fixed;
	// 	position: -webkit-sticky;
	// 	z-index: 999999;
	// 	height: 50px;
	// 	left: -100px;
	// 	background-color: $white;
	// }

	hr {
		border: 1px solid $darkGrey;
		width: 100%;
	}
}

.app__navbar__container {
	display: flex;
	flex-direction: column;
	width: 96%;
	background-color: $white;

	@include dekstop {
		width: 1176px;

		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.app__bottom {
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 100%;
}
